.transaction-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .transaction-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333333;
  }
  
  .form-input,
  .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .form-input:focus,
  .form-select:focus {
    border-color: #617992;
    outline: none;
    box-shadow: 0 0 5px rgba(145, 188, 235, 0.5);
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #57331e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #a36e50;
  }
  
  .transaction-list-container {
    margin-top: 30px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
  }
  
  .list-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333333;
  }
  
  .transaction-list {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .transaction-item span {
    font-size: 1em;
    color: #555555;
  }
  
  .transaction-item span strong {
    color: #333333;
  }
  